@import "https://unpkg.com/open-props";

@use postcss-preset-env;

:root {
  --font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  --background-body: #202122;
  --text-main: white;
}

body {
  background-color: var(--background-body);
}

h1 {
  font-family: var(--font-sans);
  color: var(--text-main);
}

.highlight-1 {
  color: var(--blue-3);
}

.button {
  display: inline-flex;
  white-space: nowrap;
  
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);
  
  padding-inline: var(--size-6);
  padding-block: var(--size-3);

  color: var(--blue-9);
  border: var(--border-size-2) solid var(--blue-5);
  background-color: transparent;
  border-radius: var(--radius-2);

}
  
  .button:hover {
    cursor: pointer;
    color: var(--blue-0);
    background-color: var(--blue-5);
  }
  
  .button:active {
    position: relative;
    inset-block-start: 2px;
  }

  .logo, .nav a {
    color: var(--gray-0);
    font-family: var(--font-sans);
    text-decoration: none;
}

.logo {
    font-size: 1.8rem;
    font-weight: 600;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
}
