@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "https://unpkg.com/open-props";

html{
  background-color: var(--gray-8);
}

a{
  color: var(--gray-0);
  font-family: var(--font-sans);
}

h1{
  font-weight: var(--font-weight-9);
}

.btn{
  display: inline-flex;
  white-space: nowrap;

  font-size: var(--font-size-fluid-0.5);
  font-weight: var(--font-weight-7);

  padding-inline: var(--size-6);
  padding-block: var(--size-3);

  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-5);
  border-radius: var(--radius-2);
  margin-top: 20px;
  text-decoration: none;
}

.btn:hover{
  cursor: pointer;
  color: var(--blue-9);
  background-color: var(--blue-4);
}

.page-header{
  color: var(--gray-0);
  font-family: var(--font-sans);
}

