@import "https://unpkg.com/open-props";

h1 {
  display: grid;
  animation: var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 0.5s;
}

body {
  background-color: var(--gray-9);
  color: white;
  font-family: var(--font-sans);
}

a {
  color: var(--blue-3);
  text-decoration: none;
}

section {
  margin: 0 auto;
}

h1 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-8);
  line-height: var(--font-lineheight-1);
}

.fundamentals {
  color: var(--cyan-3);
}

.modern {
  color: var(--blue-4);
}

.create {
  color: var(--yellow-5);
}

.container {
  max-width: calc(2 * var(--size-15));
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--size-5);
}

.logo {
  color: white;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-8);
}

.nav a {
  color: var(--gray-4);
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-2);
}

.page-content {
  line-height: var(--font-lineheight-2);
  margin-bottom: var(--size-5);
}

label {
  display: block;
  margin-top: var(--size-2);
  margin-bottom: var(--size-1);
  color: var(--gray-5);
  font-weight: var(--font-weight-7);
}

input[type="text"],
textarea {
  width: 100%;
  max-width: var(--size-15);
  padding: var(--size-2);
  font-size: var(--font-size-2);
  border-radius: var(--radius-1);
  border: var(--border-size-1) solid var(--gray-5);
  margin-bottom: var(--size-2);
}

.btn {
  display: inline-flex;
  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  padding-inline: var(--size-6);
  padding-block: var(--size-3);

  color: var(--blue-9);
  border: var(--border-size-2) solid var(--blue-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}
.btn:hover {
  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-5);
}

.btn:active {
  position: relative;
  inset-block-start: 2px;
}

.btn.btn-delete {
  background-color: transparent;
  color: var(--red-5);
  border-color: var(--red-5);
}
.btn.btn-delete:hover {
  background-color: var(--red-5);
  color: var(--white-9);
  border-color: var(--red-5);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--size-3) 0;
}
