h1 {
  color: var(--gray-0);
  font-family: var(--font-sans);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-7);
}
.blue {
  color: var(--cyan-4);
}

.green {
  color: var(--green-4);
}

.yellow {
  color: var(--yellow-4);
}

.containerHome {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

a.blue {
  font-size: var(--font-size-3);
  padding-inline: var(--size-8);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  text-decoration: none;
  background: var(--indigo-8);
  color: white;
  transition: all 1ms;
}
a.blue:hover {
  background-color: var(--blue-0);
  color: var(--indigo-8);
}
