.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-2);
  height: 7vh;
  padding: 0 12px;
}
.navbar a {
  color: var(--blue-6);
  background-color: var(--blue-0);
  border: 1px solid var(--blue-1);
  text-shadow: 0 1px 0 var(--blue-2);
  text-decoration: none;
  margin: 0 8px;
}
